element_maintenance.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "5d672498-4c60-41e2-8e02-b855a6032007",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.switch }}",
                      "rightValue": "PATH_ISSUE",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "89dacfcf-352a-42a6-8bc9-ecae81760df0"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PATH_ISSUE"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1100,
          0
        ],
        "id": "b751d100-38e2-432a-9ad1-19f7bfddf5d6",
        "name": "Switch"
      },
      {
        "parameters": {
          "bucketName": "custify-raw-data",
          "fileKey": "=analyzer-agent/{{ $('Main input').item.json.tenant_id }}/case-{{ $('Main input').item.json.test_case_id }}/mapped-results/result-{{ $('Main input').item.json.test_case_result_id }}.json"
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          1320,
          0
        ],
        "id": "079304f7-7bda-4a56-be72-b855667fc4a3",
        "name": "Download mapped results",
        "credentials": {
          "s3": {
            "id": "ueIpS1A1bLq1Q6oj",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "bucketName": "custify-raw-data",
          "fileKey": "=analyzer-agent/{{ $json.tenant_id }}/case-{{ $json.test_case_id }}/suggestions/suggestion-{{ $json.test_case_result_id }}.json"
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          440,
          0
        ],
        "id": "73b583d5-9088-4081-a8a9-8f30a4b76c1f",
        "name": "Download suggestion file",
        "credentials": {
          "s3": {
            "id": "ueIpS1A1bLq1Q6oj",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          660,
          0
        ],
        "id": "796b7905-3b2e-46c5-9270-80138ac8cc4c",
        "name": "Get Suggestion file"
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1540,
          0
        ],
        "id": "a697d5ce-6b5e-4b4b-bb67-eafa9f09f2b9",
        "name": "Get mapped results"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a69a67d2-8c46-4e64-aeb2-40832f1f1e68",
                "leftValue": "={{ $json.data.parseJson().failed_result_context_details?.[0]?.element_id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1760,
          0
        ],
        "id": "e283e610-ed19-49d1-b547-4293813843d2",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bcf2558b-d2fe-494a-aa20-a34cb3bbac7e",
                "name": "tenant_id",
                "value": "200001212",
                "type": "string"
              },
              {
                "id": "4964899e-89a9-43c5-8230-8a78b4efb4ad",
                "name": "stack",
                "value": "devtesting",
                "type": "string"
              },
              {
                "id": "cae4e945-410a-4dbe-981a-bd955209bb6e",
                "name": "test_case_id",
                "value": "104",
                "type": "string"
              },
              {
                "id": "30fc70e7-5adf-4e8c-b95e-8b4cc32accfa",
                "name": "test_case_result_id",
                "value": "76",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          220,
          0
        ],
        "id": "9299f0e5-9be5-4095-ae2b-43da05a32c1d",
        "name": "Main input"
      },
      {
        "parameters": {
          "language": "python",
          "pythonCode": "path_issues = [\n    \"ELEMENT_NOT_FOUND\",\n    \"DUPLICATE_UI_IDENTIFIERS\",\n    \"INCORRECT_OR_INVALID_UI_IDENTIFIER\",\n    \"EMPTY_UI_IDENTIFIER\"\n    ]\nfor item in _input.all():\n  data = item.json.get('data', '{}')\n  print(\"Data: \", data)\n  \nif any(issue in data for issue in path_issues):\n        return {\n          \"switch\": \"PATH_ISSUE\"\n        }\n  \nreturn _input.all()"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          0
        ],
        "id": "63ef6789-310d-46cb-a4f2-306065b61772",
        "name": "classify issues"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Main input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Download mapped results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download mapped results": {
        "main": [
          [
            {
              "node": "Get mapped results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download suggestion file": {
        "main": [
          [
            {
              "node": "Get Suggestion file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Suggestion file": {
        "main": [
          [
            {
              "node": "classify issues",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get mapped results": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          []
        ]
      },
      "Main input": {
        "main": [
          [
            {
              "node": "Download suggestion file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "classify issues": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "17831950af7d281ea8dd62892c8c6abf19d58e3c7b01567fa24ccb65dce8de9f"
    }
  }